* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --v-dark-blue: hsl(234, 12%, 34%);
    --gray-blue: hsl(229, 6%, 66%);
    --v-light-gray: hsl(0, 0%, 98%);
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: var(--v-light-gray);
}

.container{
    max-width: 1440px;
    margin: 5.5rem auto;
}

.heading{
    text-align: center;
    color: var(--v-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.heading h1{
    font-weight: 200;
    font-size: 2rem;
}

.heading h2{
    font-weight: 600;
    font-size: 1.85rem;
}

.heading > p{
    font-weight: 200;
    width: 37%;
    margin-top: 1rem;
    margin-bottom: 4.375rem;
}

.card-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.25rem;
}


.card-layout .card{
    width: 350px;
    height: 250px;
    background-color: #fff;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.1875rem;
    border-radius: 5px;
    box-shadow: -6px 8px 20px hsla(212, 86%, 64%, 0.171);
    border-top: 5px solid var(--cyan);
}

.card .icon{
    align-self: flex-end;
}

.card-group{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.red{
    border-top: 5px solid var(--red);
}
.yellow{
    border-top: 5px solid var(--orange);
}
.cyan{
    border-top: 5px solid var(--cyan);
}
.blue{
    border-top: 5px solid var(--blue);
}


small{
    color: var(--gray-blue);
}


/* footer */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* media query for small devices */
@media only screen and (max-width: 375px) {

    .heading h1{
        font-size: 1.5rem;
    }

    .heading h2{
        font-size: 1.5rem;
    }

    .heading p{
        width: 80%;
    }
    
    .card-layout{
        flex-direction: column;
    }

    .card-layout .card{
        width: 300px;
        height: 220px;
        padding: 1.675rem;
    }

    small{
        font-size: 0.75rem;
    }
}